@import url(https://fonts.googleapis.com/css?family=Nunito);

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1rem;
}

.App {
  text-align: center;
  margin-top: 200px;
}

.meter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.code-example {
  margin: 50px 0 0 0;
}

input {
  width: 245px;
  height: 25px;
}

.password-strength-meter {
  text-align: left;
}

.password-strength-meter-progress {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 250px;
  height: 8px;
}

.password-strength-meter-progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 3px;
}

.password-strength-meter-label {
  font-size: 14px;
}

.password-strength-meter-progress::-webkit-progress-value {
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.password-strength-meter-progress-weak::-webkit-progress-value {
  background-color: #F25F5C;
}
.password-strength-meter-progress-fair::-webkit-progress-value {
  background-color: #FFE066;
}
.password-strength-meter-progress-good::-webkit-progress-value {
  background-color: #247BA0;
}
.password-strength-meter-progress-strong::-webkit-progress-value {
  background-color: #70C1B3;
}