.games {
    font-size: 30px;
    margin-left: 40%;
}

.poker {
    font-size: 30px;
    margin-left: 40%;
}

.casino {
    font-size: 30px;
    margin-left: 40%;
}

.each-game {
    margin: auto;
    text-align: center;
}


