.top-title {
    font-size: 30px;
    margin-left: 10%;
}

.poker {
    font-size: 30px;
    margin-left: 40%;
}

.casino {
    font-size: 30px;
    margin-left: 40%;
}

.row {
    display: block;
    flex-direction: row;
}

.cont {
    display: flex;
    flex-wrap: wrap;
}
  
.each-game {
    flex-grow: 1;
    flex-basis: 25%;
    margin: auto;
    text-align: center;
    margin-top: 2%;
}

.expand-icon {
    margin-left: 43%;
    cursor: pointer;
}

