.resultMenuTitle {
  padding-top: 6;
  padding-bottom: 6;
  font-size: 12;
  color: "black";
}

.resultMenuItem {
  padding-top: 1;
  padding-bottom: 1;
  font-size: 16;
}

.expand-link:hover path {
  fill: #fe0000;
}