.row {
    display:flex;
    flex-direction: row;
}

.signup-form {
    margin-left: 25%;
    margin-top: 3%;
}

.field-first-column {
    margin-right: 100px;
}

.one-click {
    margin-left: 25%;
}

.width-max {
    max-width: 100%
}